*{
    font-family: sans-serif;
}
.dashboard{
    width: 70%;
    margin: 20px auto;
    box-shadow: 1px 3px 4px;
    padding: 10px;
}
.header{
    width: 100%;
    text-align: center;
    background-color: gainsboro;
    position: relative;
    padding: 8px 0px;
}
.add{
    float: right;
    position: relative;
    top: 20px;
    right: 55px;
}
.add a{
    text-decoration: none;
    background-color: rgb(133, 142, 142);
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
table{
    position: relative;
    width: 90%;
    border-collapse: collapse;
    margin: 50px auto;
    border-collapse: collapse;
    padding: 10px;
}
table th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
table th{
    padding: 10px;
}
table a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    border-radius: 5px;
    color: white;
}
#view{
    background-color: rgb(63, 147, 196);
}
#update{
    background-color: rgb(54, 101, 68);
}
#delete{
    background-color: red;
}
.center{
    text-align: center;
}