<div class="dashboard">
    <div class="header">
        <h2>Welcome to EMS</h2>
    </div>
    <div class="add">
        <a routerLink="/create">Add Employee</a>
    </div>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let employee of allEmployees;">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>
                    <a [routerLink]="['/view', employee.id]" id="view">View</a>
                    <a [routerLink]="['/update', employee.id]" id="update">Update</a>
                    <a [routerLink]="['/delete', employee.id]" id="delete" (click)="delete(employee.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="center">{{message}}</div>
</div>